pydantic
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
defusedxml 
pypdf
bs4
arxiv
pymupdf
wikipedia
Pillow
rapidocr-onnxruntime
pandas
langchain-text-splitters
langchain_huggingface
sentence-transformers
faiss-cpu
langchain_google_genai
langchain-pinecone
langgraph
duckduckgo-search
streamlit
youtube_search
langchain-qdrant
Ipython